/*wsui-selection Start*/
$wsui-selection-options: (
  background: #9c27b0,
  color: #fff
) !default;

::selection {
  $background: map-get(
    $map: $wsui-selection-options,
    $key: background
  );
  $color: map-get(
    $map: $wsui-selection-options,
    $key: color
  );
  background: $background;
  color: $color;
}
/*wsui-selection End*/
