/*webkit-sassui-selection Start*/
$webkit-sassui-selection-options: (
  background: #9c27b0,
  color: #fff
) !default;

::selection {
  $background: map-get(
    $map: $webkit-sassui-selection-options,
    $key: background
  );
  $color: map-get(
    $map: $webkit-sassui-selection-options,
    $key: color
  );
  background: $background;
  color: $color;
}

/*webkit-sassui-selection End*/
